<%= simple_form_for @patient, html: {class: "form-vertical"} do |f| %>
  <%= f.error_notification %>

  <%= f.input :sexe, collection: ["H", "F"], autofocus: true %>
  <%= f.input :age %>
  <%= f.input :diabete, collection: ["1", "2"] %>
  <%= f.input :diabete_duree %>
  <%= f.input :imc %>
  <%= f.input :poids, as: :string %>
  <%= f.input :tabac, collection: Patient::PLUSMOINS %>
  <%= f.input :hta, collection: Patient::PLUSMOINS %>
  <%= f.input :dysplipidemie, collection: Patient::PLUSMOINS %>
  <%= f.input :aomi, collection: Patient::PLUSMOINS %>
  <%= f.input :ips %>
  <%= f.input :coronarien, collection: Patient::PLUSMOINS  %>
  <%= f.input :cerebro_vasculaire, collection: Patient::PLUSMOINS  %>
  <%= f.input :cv_fam, collection: Patient::PLUSMOINS  %>
  <%= f.input :retinopathie, collection: Patient::PLUSMOINS  %>
  <%= f.input :neuropathie, collection: Patient::PLUSMOINS  %>
  <%= f.input :creat %>
  <%= f.input :clearance %>
  <%= f.input :microalb, collection: Patient::PLUSMOINS  %>
  <%= f.input :proteinurie, collection: Patient::PLUSMOINS  %>
  <%= f.input :ttt_aa, collection: Patient::PLUSMOINS  %>
  <%= f.input :ttt_diabete, collection: Patient::TTTDIABETE %>
  <%= f.input :hba1c %>
  <%= f.input :depistage %>
  <%= f.input :suivi %>
  <%= f.input :autres %>
  <%= f.input :tsaami %>
  <%= f.input :tsaant %>
  <%= f.simple_fields_for :resultats do |resultat| %>
    <%= render "resultat_fields", f: resultat %>
  <% end %>
  <div class="links">
    <%= link_to_add_association f, :resultats, class: "btn btn-primary btn-small" do %>
      <i class="icon-plus icon-white"></i>
      Ajouter un résultat
    <% end %>
  </div>

  <%= f.input :intro_statine %>
  <%= f.input :intro_aa %>
  <%= f.input :intro_iec %>
  <%= f.input :ttt_chir %>
  <%= f.input :angiotdm %>
  <%= f.input :surv_doppler %>
  <%= f.input :surv_doppler_freq %>
  <div class="form-actions">
    <%= f.button :submit, "Enregistrer" %>
  </div>
<% end %>
