<div class="nested-fields">
  <div class="row-fluid">
    <div class="span3 text-center">
      <%= f.input :libelle, label: false, collection: Resultat::LIBELLE %>
    </div>
    <div class="span3 text-center">
      <%= f.input :siege, label: false, collection: Resultat::SIEGE %>
    </div>
    <div class="span1 text-center">
      <%= f.input :cote, label: false, collection: ["G", "D"], input_html: {class: "input-mini"} %>
    </div>
    <div class="span3 text-center">
      <%= f.input :description, label: false %>
    </div>
    <div class="span2 text-center">
      <%= link_to_remove_association "Détruire résultat", f,
        class: "btn btn-small btn-danger", tabindex: "-1" %>
    </div>
  </div>
</div>
