<h1>Listing patients</h1>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Sexe</th>
      <th>Age</th>
      <th>Diabete</th>
      <th>Duree</th>
      <th>Imc</th>
      <th>Poids</th>
      <th>Tabac</th>
      <th>Hta</th>
      <th>Dysl.</th>
      <th>Aomi</th>
      <th>Ips</th>
      <th>Corona.</th>
      <th>Cereb. v</th>
      <th>Cv f.</th>
      <th>Retinop.</th>
      <th>Neurop.</th>
      <th>Creat.</th>
      <th>Clear.</th>
      <th>Microalb.</th>
      <th>Protein.</th>
      <th colspan="2">Ttt aa</th>
      <th>Ttt diab.</th>
      <th>Hba1c</th>
      <th>Depist.</th>
      <th>Suivi</th>
      <th>Autres</th>
      <th>Tsaami</th>
      <th>Tsaant</th>
      <th colspan="4">Résultats</th>
      <th>Statine</th>
      <th>Aa</th>
      <th>IEC</th>
      <th>Chir</th>
      <th>Angiotdm</th>
      <th>Surv</th>
      <th>Surv freq</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.id %></td>
        <td><%= patient.sexe %></td>
        <td><%= patient.age %></td>
        <td><%= patient.diabete %></td>
        <td><%= patient.diabete_duree %></td>
        <td><%= patient.imc %></td>
        <td><%= patient.poids %></td>
        <td><%= patient.tabac %></td>
        <td><%= patient.hta %></td>
        <td><%= patient.dysplipidemie %></td>
        <td><%= patient.aomi %></td>
        <td><%= patient.ips %></td>
        <td><%= patient.coronarien %></td>
        <td><%= patient.cerebro_vasculaire %></td>
        <td><%= patient.cv_fam %></td>
        <td><%= patient.retinopathie %></td>
        <td><%= patient.neuropathie %></td>
        <td><%= patient.creat %></td>
        <td><%= patient.clearance %></td>
        <td><%= patient.microalb %></td>
        <td><%= patient.proteinurie %></td>
        <td><%= patient.ttt_aa %></td>
        <td><%= patient.ttt_aa_quoi %></td>
        <td><%= patient.ttt_diabete %></td>
        <td><%= patient.hba1c %></td>
        <td><%= patient.depistage %></td>
        <td><%= patient.suivi %></td>
        <td><%= patient.autres %></td>
        <td><%= patient.tsaami %></td>
        <td><%= patient.tsaant %></td>
        <td><%= patient.resultats.count %></td>
        <% (1..3).each do |i| %>
          <td><%= patient.send(:"resultat#{i}") %></td>
        <% end %>
        <td><%= patient.intro_statine %></td>
        <td><%= patient.intro_aa %></td>
        <td><%= patient.intro_iec %></td>
        <td><%= patient.ttt_chir %></td>
        <td><%= patient.angiotdm %></td>
        <td><%= patient.surv_doppler %></td>
        <td><%= patient.surv_doppler_freq %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient), data: {"no-turbolink" => true} %></td>
        <td><%= link_to 'Destroy', patient, method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle fiche', new_patient_path,
  data: {"no-turbolink" => true}, class: "btn btn-primary"%>
