<p id="notice"><%= notice %></p>

<p>
  <strong>Sexe:</strong>
  <%= @patient.sexe %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>Diabete:</strong>
  <%= @patient.diabete %>
</p>

<p>
  <strong>Diabete duree:</strong>
  <%= @patient.diabete_duree %>
</p>

<p>
  <strong>Imc:</strong>
  <%= @patient.imc %>
</p>

<p>
  <strong>Imc:</strong>
  <%= @patient.imc %>
</p>

<p>
  <strong>Poids:</strong>
  <%= @patient.poids %>
</p>

<p>
  <strong>Poids:</strong>
  <%= @patient.poids %>
</p>

<p>
  <strong>Tabac:</strong>
  <%= @patient.tabac %>
</p>

<p>
  <strong>Hta:</strong>
  <%= @patient.hta %>
</p>

<p>
  <strong>Dysplipidemie:</strong>
  <%= @patient.dysplipidemie %>
</p>

<p>
  <strong>Aomi:</strong>
  <%= @patient.aomi %>
</p>

<p>
  <strong>Ips:</strong>
  <%= @patient.ips %>
</p>

<p>
  <strong>Coronarien:</strong>
  <%= @patient.coronarien %>
</p>

<p>
  <strong>Cerebro vasculaire:</strong>
  <%= @patient.cerebro_vasculaire %>
</p>

<p>
  <strong>Cv fam:</strong>
  <%= @patient.cv_fam %>
</p>

<p>
  <strong>Retinopathie:</strong>
  <%= @patient.retinopathie %>
</p>

<p>
  <strong>Neuropathie:</strong>
  <%= @patient.neuropathie %>
</p>

<p>
  <strong>Creat:</strong>
  <%= @patient.creat %>
</p>

<p>
  <strong>Clearance:</strong>
  <%= @patient.clearance %>
</p>

<p>
  <strong>Microalb:</strong>
  <%= @patient.microalb %>
</p>

<p>
  <strong>Proteinurie:</strong>
  <%= @patient.proteinurie %>
</p>

<p>
  <strong>Ttt aa:</strong>
  <%= @patient.ttt_aa %>
</p>

<p>
  <strong>Ttt diabete:</strong>
  <%= @patient.ttt_diabete %>
</p>

<p>
  <strong>Hba1c:</strong>
  <%= @patient.hba1c %>
</p>

<p>
  <strong>Hba1c:</strong>
  <%= @patient.hba1c %>
</p>

<p>
  <strong>Depistage:</strong>
  <%= @patient.depistage %>
</p>

<p>
  <strong>Suivi:</strong>
  <%= @patient.suivi %>
</p>

<p>
  <strong>Autres:</strong>
  <%= @patient.autres %>
</p>

<p>
  <strong>Tsaami:</strong>
  <%= @patient.tsaami %>
</p>

<p>
  <strong>Tsaant:</strong>
  <%= @patient.tsaant %>
</p>

<p>
  <strong>Intro statine:</strong>
  <%= @patient.intro_statine %>
</p>

<p>
  <strong>Intro aa:</strong>
  <%= @patient.intro_aa %>
</p>

<p>
  <strong>Intro iec:</strong>
  <%= @patient.intro_iec %>
</p>

<p>
  <strong>Ttt chir:</strong>
  <%= @patient.ttt_chir %>
</p>

<p>
  <strong>Angiotdm:</strong>
  <%= @patient.angiotdm %>
</p>

<p>
  <strong>Surv doppler:</strong>
  <%= @patient.surv_doppler %>
</p>

<p>
  <strong>Surv doppler freq:</strong>
  <%= @patient.surv_doppler_freq %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
